# Integer Number

In [1]:
a = 22
b = 24
c = 0

print("a  = ", a , type(a))
print("b  =", b,type(b))
print("c  =",c,type(c))

a  =  22 <class 'int'>
b  = 24 <class 'int'>
c  = 0 <class 'int'>

# Float Number

In [2]:
a = 22.0
b = 24.0
c = 0.0

print("a  = ", a , type(a))
print("b  =", b,type(b))
print("c  =",c,type(c))

a  =  22.0 <class 'float'>
b  = 24.0 <class 'float'>
c  = 0.0 <class 'float'>

# String

In [3]:
name = " Awfera  "
institute = "Xeven Solution"
print("name  = ", name , type(name))
print("institute  =", institute,type(institute))

name  =   Awfera   <class 'str'>
institute  = Xeven Solution <class 'str'>

In [5]:
# Concatenation
first_name = "Adnan"
last_name = "Khan"
full_name = first_name + " " + last_name
print(full_name)

Adnan Khan

In [6]:
#Repetation
a = "ha"
print(a* 5)

hahahahaha

In [8]:
# slicing and indexing
name = "Awfera"
print(name[0])
print(name[1])
print(name[0:3])

A
w
Awf

In [9]:
#f string
name = "Adnan"
print(f"Hello {name}")

Hello Adnan

In [10]:
# Boolean
a = True
b = False
print(a)
print(b)

True
False

In [11]:
# None
a = None
print(a)

None

In [12]:
#lIST
a = [1,2,3,4,5]
print(a)
print(type(a))
print(a[0])
print(a[-1])

[1, 2, 3, 4, 5]
<class 'list'>
1
5

In [13]:
# TUPLE
name = ("Adnan","Khan")
print(name)

('Adnan', 'Khan')

- it is immutable . once we create a string object we can't modify it.

In [14]:
# Dictionary
person = {"name":"Adnan","age":22}
print(person)
print(person["name"])
print(person["age"])

{'name': 'Adnan', 'age': 22}
Adnan
22

In [15]:
# set
a = (1,2,3,4,5,6,7,8,9,10)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)